name: "geosite-lib"
on: 
  workflow_dispatch:
permissions:
  id-token: write
  contents: write
  # required for all workflows
  security-events: write
  actions: read 
  packages: write  
jobs:
  geosite-lib:
    runs-on: ubuntu-latest
    env:
      PYPI_REPO: 'geo-pypi-dev-virtual'
      JF_URL: https://${{ vars.JF_HOST }}/
      JF_PROJECT: ${{ vars.JF_PROJECT_KEY }}
      JF_CLI_BUILD_PROJECT: ${{ vars.JF_PROJECT_KEY }}
    steps:  
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Setup JFrog CLI
        id: setup-cli
        uses: jfrog/setup-jfrog-cli@v4
          
        env:
          JF_URL: https://${{ vars.JF_HOST }}/
          JF_PROJECT: ${{ vars.JF_PROJECT_KEY }}
          #JFROG_RUN_NATIVE: true
        with:
            version: 2.88.0
            oidc-provider-name: davidro-github-integration
            oidc-audience: davidro-github
      - name: Checkout the repository    
        uses: actions/checkout@v4  
      - name: Poetry build
        id: poetry-build
        env:
          JF_URL: https://${{ vars.JF_HOST }}/
          JF_PROJECT: ${{ vars.JF_PROJECT_KEY }}
        run: |
          jf rt bag geosite-lib ${{ github.run_number }}
          jf rt bce geosite-lib ${{ github.run_number }}
          jf poc --repo-resolve ${{ env.PYPI_REPO}}/simple
          #poetry config repositories.artifactory-geo-pypi-dev-virtual ${{ env.JF_URL }}/artifactory/api/pypi/${{ env.PYPI_REPO}}
          #poetry config http-basic.artifactory-geo-pypi-dev-virtual ${{ steps.setup-cli.outputs.oidc-user }} ${{ steps.setup-cli.outputs.oidc-token }}
          #poetry config http-basic.geo-pypi-dev-virtual ${{ steps.setup-cli.outputs.oidc-user }} ${{ steps.setup-cli.outputs.oidc-token }}
          #poetry source add geo-pypi-dev-virtual ${{ env.JF_URL }}/artifactory/api/pypi/${{ env.PYPI_REPO}}/simple
          jf poetry install --build-name=geosite-lib --build-number=${{ github.run_number }}
          poetry build 
          jf poc --repo-resolve ${{ env.PYPI_REPO}}
          jf poetry publish --build-name=geosite-lib --build-number=${{ github.run_number }} --dist-dir ./dist 
